body{
    background-image: url("https://images.unsplash.com/photo-1764893216863-f4e2bbd62a5e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
}


p{
    color: #ff00d9;
    font-size: 32px;
    /*width: 50%;*/
    background-color: lightgoldenrodyellow;
    /*height: 50px;*/
    display: inline;
}

h2, h3{
    color: aqua;
}

span {
    color: #36ff00;
    display: block;
}

img{
    width: 200px;

}