body{
    background-image: url("img1.png");
    background-attachment: fixed;
    background-size: cover;
}

h1, p{
    background-color: rgba(247, 240, 237, 0.9);
    width: 60%;
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
}