@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*----------------------HEADER--------------------*/
.active-link{
    color: #00511c;
}

header{
    height: 10vh;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div{
    text-align: center;
}


body{
    font-family: Orbitron, sans-serif;
}

header div h3{
    font-size: 16px;
}

header nav ul{
    display: flex;
    gap: 20px;
}

header nav ul a{
    color: dimgrey;
    font-size: 20px;
}

/*--------------------MAIN----------------*/

main{
    height: 90vh;
    background-image: url('https://images.unsplash.com/photo-1666881199468-1e3525156188?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
}

main p{
    font-size: 20px;
}

main h1{
    font-size: 100px;
    letter-spacing: 30px;
}

main button{
    width: 160px;
    height: 50px;
    background: #000000;
    border: none;
    color: white;
    margin-top: 20px;
    transition: 2s;
}

main button:hover{
    transform: scale(1.2);
    transition: 2s;
    color: darkgrey;
}